[submodule "deps/abseil"]
	path = deps/abseil
	url = https://github.com/discowtmh/abseil-cpp
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/discowtmh/glm
[submodule "deps/glut"]
	path = deps/glut
	url = https://github.com/discowtmh/glut-win-build
[submodule "deps/mingw64"]
	path = deps/mingw64
	url = https://github.com/discowtmh/mingw64-win-build
[submodule "deps/gamenastix-biomodel"]
	path = deps/gamenastix-biomodel
	url = https://github.com/discowtmh/gamenastix-biomodel
[submodule "deps/gamenastix-protocol"]
	path = deps/gamenastix-protocol
	url = https://github.com/discowtmh/gamenastix-protocol
[submodule "deps/udpbox"]
	path = deps/udpbox
	url = https://github.com/discowtmh/udpbox
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/discowtmh/googletest
